@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Poppins";
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  filter: blur(10px);
}

input,
button,
select,
textarea {
  font: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

header {
  box-shadow: 0 0 10px black;
}
header .logo a {
  color: white;
}
header #nav-content {
  display: none;
}
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    /* チェックボックス等は非表示に */
    /* アイコンのスペース */
    /* ハンバーガーの形をCSSで表現 */
    /* 閉じる用の薄黒箇所 */
    /* メニューの中身 */
    /* チェックがついたら表示させる */
    /* ロゴやサイトタイトルをセンタリング */
  }
  header #nav-drawer {
    position: relative;
  }
  header .nav-unshown {
    display: none;
  }
  header #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  header #nav-open span,
  header #nav-open span:before,
  header #nav-open span:after {
    position: absolute;
    height: 3px; /* 線の太さ */
    width: 25px; /* 長さ */
    border-radius: 3px;
    background: #555;
    display: block;
    content: "";
    cursor: pointer;
  }
  header #nav-open span:before {
    bottom: -8px;
  }
  header #nav-open span:after {
    bottom: -16px;
  }
  header #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  header #nav-content {
    display: block;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 85%;
    max-width: 330px; /* 最大幅（お好みで調整を） */
    height: 100%;
    background: #fff;
    transition: 0.3s ease-in-out;
    transform: translateX(-105%);
    background-color: rgb(186, 255, 254);
  }
  header #nav-content .nav-menu {
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-image: linear-gradient(90deg, rgb(34, 141, 167), rgb(186, 255, 254));
  }
  header #nav-content ul a {
    color: rgb(34, 141, 167);
  }
  header #nav-content ul a li {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    border-bottom: solid 1px rgb(34, 141, 167);
  }
  header #nav-content ul details {
    border-bottom: solid 1px rgb(34, 141, 167);
    color: rgb(34, 141, 167);
    padding: 20px;
    display: flex;
  }
  header #nav-content ul details a {
    font-weight: bold;
    padding-left: 6%;
    padding-top: 15px;
  }
  header #nav-content ul details summary {
    font-size: 18px;
    font-weight: bold;
  }
  header #nav-input:checked ~ #nav-close {
    display: block;
    opacity: 0.5;
  }
  header #nav-input:checked ~ #nav-content {
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
  header #nav-input:checked + #nav-open span:before,
  header #nav-input:checked + #nav-open span:after {
    transition: transform 0.3s ease-in-out;
  }
  header #nav-input:checked + #nav-open span:before {
    transform: translateY(0%) rotate(45deg);
  }
  header #nav-input:checked + #nav-open span:after {
    transform: translateY(-250%) rotate(-45deg);
  }
  header #nav-input:checked + #nav-open span {
    background: transparent;
  }
  header .header-logo-menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1%;
    right: 5%;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  header .header-logo-menu {
    top: 12px;
  }
}
@media screen and (max-width: 768px) {
  header .logo-area {
    text-align: center;
    margin: auto;
  }
}
header .hero {
  width: 100%;
  background-image: linear-gradient(90deg, rgb(34, 141, 167), rgb(186, 255, 254));
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20%;
}
@media screen and (max-width: 1024px) {
  header nav {
    padding: 0 12%;
  }
}
@media screen and (max-width: 768px) {
  header nav {
    padding: 8px 8%;
  }
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  display: inline-block;
  padding: 10px 25px;
}
@media screen and (max-width: 1024px) {
  header nav ul li {
    padding: 10px 15px;
  }
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}
header nav ul li a:hover {
  color: #111;
}
header .btn {
  background-color: #111;
  color: white;
  padding: 4px 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
  border-radius: 5px;
}
header .btn:hover {
  border-radius: 20px;
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  header .btn {
    right: 70px;
    position: absolute;
  }
}
header .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.main-visual {
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .main-visual {
    height: 450px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .main-visual {
    height: 500px;
    margin-top: 50px;
  }
}
.main-visual .main-background {
  width: 100%;
  z-index: -1;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .main-visual .main-background {
    height: 100%;
    object-fit: cover;
  }
}
.main-visual .profile {
  padding: 50px 20px;
  border-radius: 5px;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.7); /* Use rgba for background color with opacity */
  margin-right: 20%;
  position: relative; /* Add relative positioning */
}
@media screen and (max-width: 1024px) {
  .main-visual .profile {
    margin-right: 0;
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main-visual .profile {
    margin-right: 8%;
    margin: 0 auto;
    padding: 20px;
  }
}
.main-visual .profile .description .sns-link {
  font-size: 24px;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}
.main-visual .profile .description .sns-link a {
  color: white;
}
.main-visual .profile .description .sns-link a i:hover {
  color: skyblue;
  cursor: pointer;
}
.main-visual .profile .profile-background {
  width: 450px;
  height: 350px;
  top: -12%;
  left: -8%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7); /* Use rgba for background color with opacity */
  border-radius: 5px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .main-visual .profile .profile-background {
    width: 350px;
  }
}
.main-visual .profile .title,
.main-visual .profile .name,
.main-visual .profile .description {
  color: white;
  text-shadow: 0 0 10px skyblue;
}
.main-visual .profile .title {
  font-size: 24px;
  letter-spacing: 1px;
}
.main-visual .profile .name {
  font-size: 40px;
  letter-spacing: 1px;
}
.main-visual .profile .description {
  font-size: 12px;
  letter-spacing: 1px;
  display: block;
}
.main-visual .profile .description span {
  padding: 10px 0;
  display: block;
  text-align: justify;
}

section .row div {
  animation: animate 60s linear infinite;
  padding-right: 15px;
}

.contact {
  margin-bottom: 100px;
}

.skills,
.works,
.profile,
.contact {
  padding: 0 20%;
  height: auto;
  background-color: white;
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .skills,
  .works,
  .profile,
  .contact {
    padding: 0 12%;
  }
}
@media screen and (max-width: 768px) {
  .skills,
  .works,
  .profile,
  .contact {
    padding: 0 8%;
  }
}
.skills .skills-title,
.skills .works-title,
.skills .profile-title,
.skills .contact-title,
.works .skills-title,
.works .works-title,
.works .profile-title,
.works .contact-title,
.profile .skills-title,
.profile .works-title,
.profile .profile-title,
.profile .contact-title,
.contact .skills-title,
.contact .works-title,
.contact .profile-title,
.contact .contact-title {
  padding-top: 50px;
  font-weight: bold;
}
.skills .skills-contents,
.works .skills-contents,
.profile .skills-contents,
.contact .skills-contents {
  display: flex;
  width: 280px;
  gap: 15px;
}
@media screen and (max-width: 1024px) {
  .skills .skills-contents,
  .works .skills-contents,
  .profile .skills-contents,
  .contact .skills-contents {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .skills .skills-contents,
  .works .skills-contents,
  .profile .skills-contents,
  .contact .skills-contents {
    display: block;
    width: auto;
    padding: 0;
  }
}
.skills .skills-description,
.skills .works-description,
.skills .profile-description,
.works .skills-description,
.works .works-description,
.works .profile-description,
.profile .skills-description,
.profile .works-description,
.profile .profile-description,
.contact .skills-description,
.contact .works-description,
.contact .profile-description {
  margin-bottom: 30px;
}
.skills .works-contents,
.works .works-contents,
.profile .works-contents,
.contact .works-contents {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 20px;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .skills .works-contents,
  .works .works-contents,
  .profile .works-contents,
  .contact .works-contents {
    grid-template-columns: repeat(3, 180px);
  }
}
@media screen and (max-width: 768px) {
  .skills .works-contents,
  .works .works-contents,
  .profile .works-contents,
  .contact .works-contents {
    grid-template-columns: repeat(1, 300px);
  }
}
.skills .works-contents .works-content,
.works .works-contents .works-content,
.profile .works-contents .works-content,
.contact .works-contents .works-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .works-contents .works-content a,
.works .works-contents .works-content a,
.profile .works-contents .works-content a,
.contact .works-contents .works-content a {
  text-decoration: underline;
}
.skills .works-contents .works-content .works-content-title,
.works .works-contents .works-content .works-content-title,
.profile .works-contents .works-content .works-content-title,
.contact .works-contents .works-content .works-content-title {
  margin-top: 10px;
  font-weight: bold;
}
.skills .works-contents .works-content .works-content-description,
.works .works-contents .works-content .works-content-description,
.profile .works-contents .works-content .works-content-description,
.contact .works-contents .works-content .works-content-description {
  text-align: justify;
  padding: 0 7%;
}
.skills .works-contents .works-content a,
.works .works-contents .works-content a,
.profile .works-contents .works-content a,
.contact .works-contents .works-content a {
  cursor: pointer;
}
.skills .works-contents .works-content a img,
.works .works-contents .works-content a img,
.profile .works-contents .works-content a img,
.contact .works-contents .works-content a img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.footer {
  background-image: linear-gradient(90deg, rgb(34, 141, 167), rgb(186, 255, 254));
  color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 50px 20%;
}
@media screen and (max-width: 768px) {
  form {
    padding: 20px 0;
  }
}
form input {
  padding: 10px;
  color: black;
  border: 1px solid #999;
  margin-bottom: 10px;
}
form label::after {
  content: "*";
  color: red;
}
form textarea {
  padding: 10px;
  height: 200px;
  color: black;
  font-size: 14px;
  border: 1px solid #999;
}
form button {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
}
form button:hover {
  opacity: 0.7;
}

.thanks {
  height: 87vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 0 8%;
  font-size: 24px;
}
.thanks a {
  text-decoration: underline;
}

@keyframes animate {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.works-tabs {
  margin-top: 50px;
  background-color: #fff;
  margin: 0 auto;
}

.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tab-wrap:after {
  content: "";
  width: 100%;
  height: 3px;
  background: rgb(34, 141, 167);
  display: block;
  order: -1;
}

.tab-label {
  color: black;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px 0.5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}

.tab-label:not(:last-of-type) {
  margin-right: 5px;
}

.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

/* アクティブなタブ */
.tab-switch:checked + .tab-label {
  background: rgb(34, 141, 167);
  color: white;
}

.tab-switch:checked + .tab-label + .tab-content {
  height: auto;
  overflow: auto;
  padding: 40px;
  opacity: 1;
  transition: 0.5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

.tree {
  --spacing: 1.5rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #ddd;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ddd;
}

.tree summary::before {
  content: "+";
  z-index: 1;
  background: rgb(34, 141, 167);
  color: #fff;
  line-height: calc(2 * var(--radius));
  text-align: center;
}

.tree details[open] > summary::before {
  content: "−";
}

@media screen and (max-width: 768px) {
  .page-top {
    width: 60px;
    height: 60px;
    background-color: rgb(34, 141, 167);
    opacity: 0.6;
    border-radius: 50%;
    position: fixed;
    right: 8%;
    bottom: 5%;
  }
  .page-top i::before {
    position: absolute;
    left: 33%;
    color: white;
    font-size: 26px;
  }
}/*# sourceMappingURL=style.css.map */