@use "./base/base";
@use "./base/reset";
@use "./global" as *;

header {
  box-shadow: 0 0 10px black;
  .logo {
    a {
      color: white;
    }
  }
  #nav-content {
    display: none;
  }
  @include mq("md") {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    #nav-drawer {
      position: relative;
    }

    /* チェックボックス等は非表示に */
    .nav-unshown {
      display: none;
    }

    /* アイコンのスペース */
    #nav-open {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
    }

    /* ハンバーガーの形をCSSで表現 */
    #nav-open span,
    #nav-open span:before,
    #nav-open span:after {
      position: absolute;
      height: 3px; /* 線の太さ */
      width: 25px; /* 長さ */
      border-radius: 3px;
      background: #555;
      display: block;
      content: "";
      cursor: pointer;
    }
    #nav-open span:before {
      bottom: -8px;
    }
    #nav-open span:after {
      bottom: -16px;
    }
    /* 閉じる用の薄黒箇所 */
    #nav-close {
      display: none;
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }

    /* メニューの中身 */
    #nav-content {
      display: block;
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 85%;
      max-width: 330px; /* 最大幅（お好みで調整を） */
      height: 100%;
      background: #fff;
      transition: 0.3s ease-in-out;
      transform: translateX(-105%);
      background-color: rgb(186, 255, 254);
      .nav-menu {
        padding: 20px;
        color: white;
        font-weight: bold;
        font-size: 24px;
        background-image: linear-gradient(
          90deg,
          rgb(34 141 167),
          rgb(186 255 254)
        );
      }
      ul {
        a {
          color: rgb(34 141 167);
          li {
            font-size: 18px;
            font-weight: bold;
            padding: 20px;
            border-bottom: solid 1px rgb(34 141 167);
          }
        }
      }
    }

    /* チェックがついたら表示させる */
    #nav-input:checked ~ #nav-close {
      display: block;
      opacity: 0.5;
    }

    #nav-input:checked ~ #nav-content {
      transform: translateX(0%);
      box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
    }

    #nav-input:checked + #nav-open span:before,
    #nav-input:checked + #nav-open span:after {
      transition: transform 0.3s ease-in-out;
    }

    #nav-input:checked + #nav-open span:before {
      transform: translateY(0%) rotate(45deg);
    }

    #nav-input:checked + #nav-open span:after {
      transform: translateY(-250%) rotate(-45deg);
    }

    #nav-input:checked + #nav-open span {
      background: transparent;
    }

    .header-logo-menu {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 1%;
      right: 5%;
      @include mq("md") {
        top: 12px;
      }
    }

    /* ロゴやサイトタイトルをセンタリング */
    .logo-area {
      text-align: center;
      margin: auto;
    }
  }

  .hero {
    width: 100%;
    background-image: linear-gradient(90deg, rgb(34 141 167), rgb(186 255 254));
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20%;
    @include mq("md") {
      padding: 8px 8%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      @include mq("md") {
        display: none;
      }

      li {
        display: inline-block;
        padding: 10px 25px;

        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
          transition: all 0.3s;

          &:hover {
            color: #111;
          }
        }
      }
    }
  }

  .btn {
    background-color: #111;
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    border-radius: 5px;
    &:hover {
      border-radius: 20px;
      transform: scale(1.1);
    }
    @include mq("md") {
      right: 70px;
      position: absolute;
    }
  }

  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
}

.main-visual {
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include mq("md") {
    height: 550px;
    margin-top: 50px;
  }
  .main-background {
    width: 100%;
    z-index: -1;
    position: absolute;
    @include mq("md") {
      height: 100%;
      object-fit: cover;
    }
  }

  .profile {
    padding: 50px 20px;
    border-radius: 5px;
    max-width: 600px;
    background-color: rgba(
      0,
      0,
      0,
      0.7
    ); /* Use rgba for background color with opacity */
    margin-right: 20%;
    @include mq("md") {
      margin-right: 8%;
      margin: 0 auto;
    }
    position: relative; /* Add relative positioning */
  }

  .profile .profile-background {
    width: 450px;
    height: 350px;
    top: -12%;
    left: -8%;
    position: absolute;
    background: rgba(
      0,
      0,
      0,
      0.7
    ); /* Use rgba for background color with opacity */
    border-radius: 5px;
    z-index: -1;
    @include mq("md") {
      width: 350px;
    }
  }

  .profile .title,
  .profile .name,
  .profile .description {
    color: white;
    text-shadow: 0 0 10px skyblue;
  }

  .profile .title {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .profile .name {
    font-size: 40px;
    letter-spacing: 1px;
  }

  .profile .description {
    font-size: 12px;
    letter-spacing: 1px;
    display: block;
  }

  .profile .description span {
    padding: 10px 0;
    display: block;
  }
}

section {
  .row {
    div {
      animation: animate 60s linear infinite;
      padding-right: 15px;
    }
  }
}

.contact {
  margin-bottom: 100px;
}

.skills,
.works,
.profile,
.contact {
  padding: 0 20%;
  height: auto;
  background-color: white;
  margin-bottom: 10px;
  @include mq("md") {
    padding: 0 8%;
  }
  .skills-title,
  .works-title,
  .profile-title,
  .contact-title {
    padding-top: 50px;
    font-weight: bold;
  }

  .skills-contents {
    display: flex;
    width: 280px;
    gap: 15px;
    @include mq("md") {
      display: block;
      width: auto;
      padding: 0;
    }
  }

  .skills-description,
  .works-description {
    margin-bottom: 30px;
  }

  .works-contents {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
    justify-content: center;
    @include mq("md") {
      grid-template-columns: repeat(1, 300px);
    }
    .works-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        text-decoration: underline;
      }
      .works-content-title {
        margin-top: 10px;
        font-weight: bold;
      }
      .works-content-description {
        text-align: justify;
        padding: 0 7%;
      }
      a {
        cursor: pointer;
        img {
          height: 250px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.footer {
  background-image: linear-gradient(90deg, rgb(34 141 167), rgb(186 255 254));
  color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 50px 20%;
  @include mq("md") {
    padding: 20px 0;
  }
  input {
    padding: 10px;
    color: black;
    border: 1px solid #999;
    margin-bottom: 10px;
  }
  label::after {
    content: "*";
    color: red;
  }
  textarea {
    padding: 10px;
    height: 200px;
    color: black;
    font-size: 14px;
    border: 1px solid #999;
  }
  button {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    &:hover {
      opacity: 0.7;
    }
  }
}

.thanks {
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes animate {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.works-tabs {
  margin-top: 50px;
  background-color: #fff;
  margin: 0 auto;
}
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
.tab-wrap:after {
  content: "";
  width: 100%;
  height: 3px;
  background: rgb(34 141 167);
  display: block;
  order: -1;
}
.tab-label {
  color: black;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px 0.5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
/* アクティブなタブ */
.tab-switch:checked + .tab-label {
  background: rgb(34 141 167);
  color: white;
}
.tab-switch:checked + .tab-label + .tab-content {
  height: auto;
  overflow: auto;
  padding: 40px;
  opacity: 1;
  transition: 0.5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

.tree {
  --spacing: 1.5rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #ddd;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ddd;
}

.tree summary::before {
  content: "+";
  z-index: 1;
  background: rgb(34 141 167);
  color: #fff;
  line-height: calc(2 * var(--radius));
  text-align: center;
}

.tree details[open] > summary::before {
  content: "−";
}
